.main {
  min-height: 100vh;
  padding: 1.2rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section h2 {
  margin-top: 48px;
  text-align: center;
  margin-top: 72px;
  font-size: 24px;
}

.section p {
  max-width: 1000px;
  text-align: left;
  margin-top: 12px;
}

.section a {
  margin: 36px;
}
